.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    width: max-content;
    padding: .4rem;
    border: 4px solid orange;
    margin-left: 40px;
}
.brandText {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.refs {
    width: 260px;
    display: flex;
    justify-content: space-between;

    margin-right: 40px;
}

.banksRef, .morgageCalculatorRef {
    color: white;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: orange;
}